html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
#tree {
  box-sizing: border-box;
  margin: 0;
  width: 100%; 
  height: 100%;
  /*border: 3px dashed red;*/
  background-color: #e9f3ff;
}
#tree.editable {
  background-color: #fad99d;
}
svg .shadow {
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

.boc-edit-form .boc-edit-form-header,
.boc-edit-form .boc-img-button{
  background-color: #486a8a !important;
}
.boc-edit-form .boc-img-button:hover{
  background-color: #28a9ff !important;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: rgb(0, 83, 35);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}